*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.btn-outline-success {
    --bs-btn-color: #000;
    --bs-btn-border-color: #000;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #000;
}


.texto-candongueiro{
    display: flex;
    align-items: start;
    flex-direction: column;
}
.corpo {
    display: flex;
    max-width: 100%;
    margin: 40px;
    border-radius: 30px;
    box-shadow: 0px 0px 8px rgba(.0, .0, .0, .238);
}
.corpo1, .corpo2 {
    width: 100%;

}

.candongueiros{
    width: 100%;
    border-radius: 30px 0px 0px 30px;
}

.corpo2{
    text-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
}

.watch{
    --bs-btn-hover-color: #fff !important;
    margin-top: 5px;
}

.modal-div{
    max-width: 100%;
    max-height: 100%;
}

#togglePause{
    align-items: center;
}

span {
    color: #fff;
}

.byebye{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.botoes button img.botaoes{
    width: 10px;
    height: 10px;
}


.controls { 
	position: absolute; 
	bottom: 0px; 
	left: 0; 
	right: 0; 
	height: 40px; 
	background-color: rgba( 
		0, 
		0, 
		0, 
		0.7
	); 
	display: flex; 
	justify-content: space-between; 
	align-items: center; 
	padding: 10px; 
	opacity: 0; 
	transition: opacity 0.3s ease-in-out; 
} 

.controls button { 
	background-color: transparent; 
	border: none; 
	color: #fff; 
	font-size: 20px; 
	cursor: pointer; 
	outline: none; 
} 

.left { 
	position: relative; 
	top: 1%; 
	width: 70px; 
	display: flex; 
	justify-content: space-between; 
} 

.video-timer { 
	position: relative; 
	top: 5.2px; 
	right: 6px; 
	display: flex; 
	flex-direction: row; 
	color: #efefef; 
	margin-left: 35px; 
	font-size: 12px; 
} 

#separator { 
	margin: 0 5px; 
	font-size: 16px; 
	font-family: "Open sans"; 
} 

.right { 
	position: relative; 
	padding: 10px; 
	top: 1.5px; 
} 

.fa-volume-up, 
.fa-solid { 
	font-size: small; 
	padding: 5px; 
	color: rgb(255, 255, 255); 
} 

button, 
input { 
	background-color: transparent; 
	border: none; 
	cursor: pointer; 
	font-size: 20px; 
} 

.volume-container { 
	display: flex; 
	align-items: center; 
} 

#volume { 
	position: relative; 
	left: 5px; 
	width: 50px; 
	height: 3px; 
} 

#mute { 
	cursor: pointer; 
} 

.playback-line { 
	position: relative; 
	top: 2.7px; 
	height: 6px; 
	background-color: #ddd; 
	width: 35%; 
	cursor: pointer; 
} 

.progress-bar { 
	height: 100%; 
	width: 0; 
	background-color: #0078d4; 
	transition: width 0.1s linear; 
}

.video-container { 
	max-width: 700px; 
	max-height: 500px; 
	position: relative; 
	border: 1px; 
	border-style: ridge; 
	margin: 0 auto; 
	background-color: black; 
} 

#video-thumbnail { 
	position: absolute; 
	width: 100%; 
	height: 100%; 
	object-fit: cover; 
	cursor: pointer; 
} 

#video, 
#video-thumbnail { 
	width: 100%; 
	height: 100%; 
} 